@model EntityLayer.Concrete.Blog
@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("Blog Başlık")
    @Html.TextBoxFor(x=>x.BlogTitle, new {@class = "form-control"})
    <br/>
    @Html.Label("Blog Kategori")
    @Html.TextBoxFor(x=>x.CategoryID, new {@class = "form-control"})
    <br/>
    @Html.Label("Blog Resim Yolu")
    @Html.TextBoxFor(x=>x.BlogImage, new {@class = "form-control"})
    <br/>
    @Html.Label("Blog Tarih")
    @Html.TextBoxFor(x=>x.BlogDate, new {@class = "form-control"})
    <br/>
    @Html.Label("Blog Yazar")
    @Html.TextBoxFor(x=>x.AuthorID, new {@class = "form-control"})
    <br/>
    @Html.Label("Blog İçerik")
    @Html.TextAreaFor(x=>x.BlogContent,10,20, new {@class = "form-control"})
    <br/>
    <button class="btn btn-info">Kaydet</button>
</form>

