
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link rel="stylesheet" href="~/miniblog/fonts/icomoon/style.css">
<link rel="stylesheet" href="~/miniblog/css/bootstrap.min.css">
<link rel="stylesheet" href="~/miniblog/css/magnific-popup.css">
<link rel="stylesheet" href="~/miniblog/css/jquery-ui.css">
<link rel="stylesheet" href="~/miniblog/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/miniblog/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/miniblog/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/miniblog/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="~/miniblog/css/aos.css">
<link rel="stylesheet" href="~/miniblog/css/style.css">

@Html.Action("BlogCover", "Blog")

<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-8 main-content">
                @Html.Action("BlogReadAll", "Blog")
                @Html.Action("CommentList", "Comment")
            </div>
            <div class="col-md-12 col-lg-4 sidebar">
                @Html.Action("AuthorAbout", "Author")
                @Html.Action("AuthorPopularPost", "Author")
                @Html.Action("BlogDetailsCategoryList", "Category")

            </div>
        </div>
    </div>
</section>
@Html.Action("OtherFeaturedPosts", "Blog")
@Html.Action("AddMail", "MailSubscribe")
@*@Html.Action("Footer", "About")*@

