
<div class="container-fluid paddding mb-5 mt-10">
    <div class="row mx-0">
        <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
            <div class="fh5co_suceefh5co_height">
                <img src="@ViewBag.postimage1" alt="img" />
                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">
                    <div class="">
                        <a href="/Blog/BlogDetails/@ViewBag.blogpostid1" class="color_fff">
                            <i class="fa fa-clock-o"></i>@(((DateTime)@ViewBag.blogdate1).ToString("dd-MM-yyyy"))
                        </a>
                    </div>
                    <div class=""><a href="/Blog/BlogDetails/@ViewBag.blogpostid1" class="fh5co_good_font"> @ViewBag.posttitle1 </a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2">
                        <img src="@ViewBag.postimage2" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class="">
                                <a href="/Blog/BlogDetails/@ViewBag.blogpostid2" class="color_fff">
                                    <i class="fa fa-clock-o"></i>@(((DateTime)@ViewBag.blogdate2).ToString("dd-MM-yyyy"))
                                 
                                </a>
                            </div>
                            <div class=""><a href="/Blog/BlogDetails/@ViewBag.blogpostid2" class="fh5co_good_font_2"> @ViewBag.posttitle2 </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2">
                        <img src="@ViewBag.postimage3" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="/Blog/BlogDetails/@ViewBag.blogpostid3" class="color_fff"> <i class="fa fa-clock-o"></i>@(((DateTime)@ViewBag.blogdate3).ToString("dd-MM-yyyy")) </a></div>
                            <div class=""><a href="/Blog/BlogDetails/@ViewBag.blogpostid3" class="fh5co_good_font_2"> @ViewBag.posttitle3 </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2">
                        <img src="@ViewBag.postimage4" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class="">
                                <a href="/Blog/BlogDetails/@ViewBag.blogpostid4" class="color_fff">
                                    <i class="fa fa-clock-o"></i>@(((DateTime)@ViewBag.blogdate4).ToString("dd-MM-yyyy"))
                                    28,2017
                                </a>
                            </div>
                            <div class=""><a href="/Blog/BlogDetails/@ViewBag.blogpostid4" class="fh5co_good_font_2"> @ViewBag.posttitle4</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2">
                        <img src="@ViewBag.postimage5" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class="">
                                <a href="/Blog/BlogDetails/@ViewBag.blogpostid5" class="color_fff">
                                    <i class="fa fa-clock-o"></i>@(((DateTime)@ViewBag.blogdate5).ToString("dd-MM-yyyy"))
                                 
                                </a>
                            </div>
                            <div class=""><a href="/Blog/BlogDetails/@ViewBag.blogpostid5" class="fh5co_good_font_2"> @ViewBag.posttitle5 </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>